
services:
  # Hotel Database
  hotel-db:
    container_name: hotel-db
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: hotel_db
    volumes:
      - hotel_postgres:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - travel-network
    restart: unless-stopped

  # Car Database
  car-db:
    container_name: car-db
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: car_db
    volumes:
      - car_postgres:/var/lib/postgresql/data
    ports:
      - "5434:5432"
    networks:
      - travel-network
    restart: unless-stopped

  # Hotel Service
  hotel-service:
    container_name: hotel-service
    build: ./hotel-rental-service
    ports:
      - "9091:9091"
    depends_on:
      - hotel-db
    networks:
      - travel-network
    restart: unless-stopped

  # Car Service
  car-service:
    container_name: car-service
    build: ./car-rental-service
    ports:
      - "9092:9092"
    depends_on:
      - car-db
    networks:
      - travel-network
    restart: unless-stopped

networks:
  travel-network:
    driver: bridge

volumes:
  hotel_postgres:
  car_postgres: